<table>
  <tbody>
    <tr>
      <td>Story</td>
      <td>Rommel</td>
    </tr>
    <tr>
      <td>Artworks</td>
      <td>MRA-Artworks<br />Dako Chisay</td>
    </tr>
    <tr>
      <td>Design</td>
      <td>Dr_Mint</td>
    </tr>
  </tbody>
</table>

<style>
  td:first-of-type {
    font-weight: 600;
    padding-right: 2em;
  }

  td {
    padding-block: 0.5em;
    vertical-align: text-top;
  }
</style>
