---
interface Props {
  href: string;
  color: string;
}

const { color, href } = Astro.props;
---

<a href={href} style={`--color: ${color}`}><slot /></a>

<style>
  a {
    color: var(--color);
    background-color: white;
    outline-width: 3px;
    outline-offset: -3px;
    outline-color: var(--color);
    outline-style: solid;
    text-decoration: none;
    font-size: 130%;
    font-weight: 600;
    padding: 0.5em 1em;

    transition-duration: 75ms;
    transition-property: color, background-color;

    &:hover,
    &:focus-within {
      background-color: var(--color);
      color: white;
    }
  }
</style>
